<ion-view view-title="Home">
  <ion-content class="padding">
	  <div ng-show="!active.$id" class="card">
		  <p class="item item-icon-left">
			  <i class="icon ion-ios-lightbulb-outline"></i>
			  <span>You do not have any active sessions</span>
		  </p>
	  </div>
	  <div ng-show="active.$id" ng-init="interacting = false">
		  <div class="progress-wrapper">
			  <div class="progress ng-cloak" ng-style="getStyle()" ng-show="!interacting">50:12</div>
			  <div class="progress ng-cloak" ng-style="getStyle()" ng-show="interacting">
				  <div class="button-bar">
					  <button class="button button-calm">
						  <i class="ion-pause"></i>
					  </button>
					  <button class="button button-assertive">
						  <i class="ion-close"></i>
					  </button>
				  </div>
			  </div>
			  <round-progress
				  max="max"
				  current="current"
				  color="#45ccce"
				  bgcolor="#a9e2e5"
				  radius="125"
				  semi="false"
				  rounded="false"
				  stroke="10"
				  clockwise="false"
				  responsive="false"
				  duration="400"
				  animation="easeOutCubic"
				  offset="0"
				  animation-delay="0"
			  on-double-tap="interacting = !interacting">
			  </round-progress>
		  </div>
		  <h2 class="text-center">{{active.subject.title}}</h2>
		  <h3 class="text-center">{{active.subject.topics[active.topic].title}}</h3>
	  </div>
  </ion-content>
</ion-view>
