<ion-view view-title="Add">
	<!-- do you want padding? -->
	<ion-content class="padding">
		<form name="SubjectAddForm">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Subject</span>
					<input type="text" placeholder="Subject Title" required name="title" ng-model="subject.title" autocomplete="off" autocorrect="off">
				</label>
				<label class="item item-input">
					<span class="input-label">Difficulty</span>
					<div class="range range-positive">
						<i class="icon ion-happy-outline"></i>
						<input type="range" name="volume" min="1" max="5" value="3" ng-model="subject.difficulty">
						<i class="icon ion-sad"></i>
					</div>
				</label>
				<a class="item item-icon-right" ng-click="view.dependencies = !view.dependencies" ng-show="subjects.length">
					Depends on <span><ng-pluralize count="subject.dependencies.length" when="{0: 'no other subject', 1: 'one other subject', 2: '{} other subjects'}"></ng-pluralize></span>
					<i class="icon ion-chevron-right" ng-show="!view.dependencies"></i>
					<i class="icon ion-chevron-down" ng-show="view.dependencies"></i>
				</a>
				<ion-list ng-show="view.dependencies">
					<ion-checkbox ng-repeat="otherSubject in subjects" ng-click="bindDependency(otherSubject)" ng-model="otherSubject.$selected">{{otherSubject.title}}</ion-checkbox>
				</ion-list>
			</div>
			<button class="button button-energized button-block" ng-disabled="!SubjectAddForm.$valid" ng-click="add()">
				<i class="ion-plus"></i> Add
			</button>
		</form>
	</ion-content>
</ion-view>
