<ion-view hide-nav-bar="true">
	<ion-header-bar align-title="center" class="bar-energized">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title">Subjects</h1>
		<div class="buttons">
			<button class="button button-clear" ui-sref="main.subjectsAdd"><i class="ion-plus-round"></i></button>
		</div>
	</ion-header-bar>
	<ion-content class="padding has-header">
		<ion-list ng-show="subjects.length">
			<ion-item ng-repeat="subject in subjects | orderBy:'title'" ui-sref="main.subjectsOverview({id: subject.$id})">
				{{subject.title}}
				<span class="badge badge-stable">{{subject.points}}</span>
				<ion-option-button class="button-assertive" ng-click="remove(subject)">Delete</ion-option-button>
				<ion-option-button class="button-positive" ui-sref="main.subjectsEdit({id: subject.$id})" ng-hide="subject.started">Edit</ion-option-button>
			</ion-item>
		</ion-list>
		<div ng-show="!subjects.length">
			<h4 class="text-center">You are all caught up</h4>
			<square class="no-more-to-do"></square>
		</div>
	</ion-content>
</ion-view>
